<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>346476137354-ts1rubcpc85n01dadtfarahithvsjems.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.346476137354-ts1rubcpc85n01dadtfarahithvsjems</string>
	<key>API_KEY</key>
	<string>AIzaSyDO7O0atOSykgfML-Jt6IIc8fZu5Lc_u2M</string>
	<key>GCM_SENDER_ID</key>
	<string>346476137354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>no.knowit.miljohack</string>
	<key>PROJECT_ID</key>
	<string>miljohack2021</string>
	<key>STORAGE_BUCKET</key>
	<string>miljohack2021.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:346476137354:ios:72773a8ce17707d9dc5673</string>
</dict>
</plist>